<div class="modal-header">
  <h2 class="modal-title">{{user.name}}</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col" >Email Address :</div>
    <div class="col" >{{user.emailAddress}}</div>
  </div>
  <div class="row">
    <div class="col" >Postal Address:</div>
    <div class="col" >{{user.postalAddress}}</div>
  </div>
  <div class="row">
    <div class="col" >Phone Number :</div>
    <div class="col" >{{user.phoneNumber}}</div>
  </div>
  <div class="row">
    <div class="col" >Favourite Band :</div>
    <div class="col" >{{user.FavouriteBand}}</div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>