<div class="container">
  
  <table class="table table-bordered table-hover">
    <caption><h2>User Information</h2></caption>
    <thead>
      <tr>
        <th> <input type="checkbox" [checked]="myVar1" (change)="myVar1 = !myVar1" /></th>
        <th>Name</th>
        <th>Account Number</th>
        <th>country</th>
        <th>Date Joined</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" (click)="openPopup(user)">
        <td> <input type="checkbox" [checked]="myVar1" (change)="myVar1 = !myVar1" /></td>
        <td>{{user.name}}</td>
        <td>{{user.accountNumber}}</td>
        <td>{{user.country}}</td>
        <td>{{user.dob}}</td>
      </tr>
     
    </tbody>
  </table>
  <ul class="pagination justify-content-end">
    <li class="page-item margin-top-right">Rows per page :</li>
    <li class="page-item" ><a class="page-link" href="javascript:void(0);">Previous</a></li>
    <li class="page-item" (click)="updatePageSize(5)"  [ngClass]="{ 'active': pageSize == 5}"
    *ngIf="collectionSize > 5"><a class="page-link" href="javascript:void(0);">5</a></li>
    <li class="page-item" (click)="updatePageSize(10)"  [ngClass]="{ 'active': pageSize == 10}"
    *ngIf="collectionSize > 10"><a class="page-link" href="javascript:void(0);">10</a></li>
    <li class="page-item" (click)="updatePageSize(25)"  [ngClass]="{ 'active': pageSize == 25}"
    *ngIf="collectionSize > 25"><a class="page-link" href="javascript:void(0);">25</a></li>
    <li class="page-item" (click)="updatePageSize(50)"  [ngClass]="{ 'active': pageSize == 50}"
    *ngIf="collectionSize > 50"><a class="page-link" href="javascript:void(0);">50</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
  </ul>
</div>