/* Structure */

  caption {
    font-size: 30px;
    line-height: 36px;
    color: #007ab0;
    caption-side: top;
}
.active {
  background-color: #000000;
  color : #ffffff;
}
.margin-top-right{
  margin-top: 7px;
  margin-right: 10px;
}